@use "../../styles/responsiveTools/_responsiveMobile" as*

.carousel
    width: 100%
    height: 415px
    margin-bottom: 20px

.listing-header
    display: flex
    justify-content: space-between

.listing-title-tags
    display: flex
    flex-direction: column

.listing-hoster-rating
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    padding-bottom: 10px
    max-height: 133px

.article-title
    font-size: 18px

.logement-details
    width: 100%
    display: flex
    justify-content: space-between

.article-section
    display: flex
    flex-direction: column
    width: 582px

@include mobile
    .carousel
        height: 255px
    .logement-details
        flex-wrap: wrap
    .article-section
        padding-bottom: 20px
        width: 100%
    .listing-header
        flex-direction: column
    .listing-hoster-rating
        align-items: flex-start
        flex-direction: row-reverse
    .article-title
        font-size: 13px
    .collapse-text
        font-size: 14px
