@use "../../../../styles/responsiveTools/_responsiveMobile" as*

.carousel-btn
    display: flex
    justify-content: space-between

    position: absolute
    left: 0
    right: 0
    top: 35%

.carousel-btn button
    height: 120px
    background-color: transparent
    display: flex
    justify-content: center
    align-items: center
    border: none
    outline: none
    padding: 0

    &:hover, &:focus-visible, &:focus
        background-color: transparent
        border: none
        outline: none

.carousel-btn button img
    width: 94px

@include mobile
    .carousel-btn button img
        width: 24px
        height: 24px
