@use "../../../../styles/responsiveTools/_responsiveMobile" as*

.carousel-content
    width: auto
    height: 100%
    overflow: hidden
    position: relative
    display: flex
    justify-content: center

.carousel-content img
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 25px

@include mobile
    .carousel-content img
        border-radius: 10px
    .carousel-content
        width: 100%
